.gpt3__CTA {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 2.5rem;
  background: var(--gradient-bar);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10.7236px;
}

.gpt3__CTA-content p {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 30px;
  font-weight: 500;
  color: #0E0E0E;
}

.gpt3__CTA-content h3 {
  font-family: var(--font-family);
  font-size: 24px;
  line-height: 45px;
  font-weight: 800;
  color: #000;
}

.gpt3__CTA button {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  background-color: #000;
  color: #fff;
  border-radius: 40px;
  border: none;
  padding: 1rem 2.5rem;
  margin-left: 2rem;
  min-width: 182px;
  cursor: pointer;
}

/* Tablet size devices */
@media screen and (max-width: 750px) {
  .gpt3__CTA {
    flex-direction: column;
    padding: 2rem;
  }
  .gpt3__CTA button {
    margin-top: 2rem;
    margin-left: 0;
  }
}

/* Smaller size devices */
@media screen and (max-width: 590px) {
  .gpt3__CTA-content h3 {
    font-size: 18px;
    line-height: 32px;
  }
  .gpt3__CTA button {
    font-size: 14px;
    line-height: 28px;
    padding: 0.5rem 1.25rem;
    min-width: 160px;
  }
}
